{% extends 'base.html' %}

{% block content %}
<main class="container mt-3">
  <div class="card my-4 mx-auto">
    <div class="card-body m-2 m-md-4">
      <article class="row">
        <div class="col-5"><img src="{{ tutor_info['picture'] }}" class="img-fluid" alt=""></div>
        <div class="col-7">

          <section class="teacher=info">
            <h1 class="h2">{{ tutor_info.name }}</h1>
            <p><span class="badge badge-secondary mr-2">{{ tutor_info.study }}</span>Рейтинг: {{ tutor_info.rating }} Ставка: {{ tutor_info.price }} / час</p>
            <p>{{ tutor_info.about }}</p>
          </section>

          <section class="available">

            <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>

            <h6 class="mt-4">Понедельник</h6>
            {% if tutor_info.free.mon.values()|select|first %}
              {% for time, is_free in tutor_info.free.mon.items() %}
                {% if is_free %}
                  <a href="#" class="btn btn-outline-success mr-2 my-2"
                  >{{ time }} свободно</a>
                {% endif %}
              {% endfor %}
            {% else %}
              <p>Нет свободных уроков</p> 
            {% endif %}


            <h6 class="mt-4">Вторник</h6>
            {% if tutor_info.free.tue.values()|select|first %}
            {% for time, is_free in tutor_info.free.tue.items() %}

                {% if is_free %}
                <a href="#" class="btn btn-outline-success mr-2 my-2"
                >{{ time }} свободно</a>
                {% endif %}
              {% endfor %}
            {% else %}
              <p>Нет свободных уроков</p> 
            {% endif %}

            <h6 class="mt-4">Среда</h6>
            {% if tutor_info.free.wed.values()|select|first %}
            {% for time, is_free in tutor_info.free.wed.items() %}

                {% if is_free %}
                <a href="#" class="btn btn-outline-success mr-2 my-2"
                >{{ time }} свободно</a>
                {% endif %}
              {% endfor %}
            {% else %}
              <p>Нет свободных уроков</p> 
            {% endif %}

            <h6 class="mt-4">Четверг</h6>
            {% if tutor_info.free.thu.values()|select|first %}
            {% for time, is_free in tutor_info.free.thu.items() %}

                {% if is_free %}
                <a href="#" class="btn btn-outline-success mr-2 my-2"
                >{{ time }} свободно</a>
                {% endif %}
              {% endfor %}
            {% else %}
              <p>Нет свободных уроков</p> 
            {% endif %}

            <h6 class="mt-4">Пятница</h6>
            {% if tutor_info.free.fri.values()|select|first %}
            {% for time, is_free in tutor_info.free.fri.items() %}

                {% if is_free %}
                <a href="#" class="btn btn-outline-success mr-2 my-2"
                >{{ time }} свободно</a>
                {% endif %}
              {% endfor %}
            {% else %}
              <p>Нет свободных уроков</p> 
            {% endif %}

            <h6 class="mt-4">Суббота</h6>
            {% if tutor_info.free.sat.values()|select|first %}
            {% for time, is_free in tutor_info.free.sat.items() %}

                {% if is_free %}
                <a href="#" class="btn btn-outline-success mr-2 my-2"
                >{{ time }} свободно</a>
                {% endif %}
              {% endfor %}
            {% else %}
              <p>Нет свободных уроков</p> 
            {% endif %}

            <h6 class="mt-4">Воскресенье</h6>
            {% if tutor_info.free.sun.values()|select|first %}
            {% for time, is_free in tutor_info.free.sun.items() %}

                {% if is_free %}
                <a href="#" class="btn btn-outline-success mr-2 my-2"
                >{{ time }} свободно</a>
                {% endif %}
              {% endfor %}
            {% else %}
              <p>Нет свободных уроков</p> 
            {% endif %}

          </section>

        </div>
      </article>
    </div>
  </div>
</main> 
{% endblock content %}